<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Cookie</title>
</head>
<body>
  <a href="/cookies">Home</a>
  <h1>Create a new Cookie!</h1>
  <form method="POST" action="/cookies">
    <label for="name">Name</label>
    <input id="name" name="name" />
    <br/>
    <label for="ingredients">Ingredients</label>
    <input id="ingredients" name="ingredients" />
    <br/>
    <button type="submit">Create a New Cookie</button>
  </form>
</body>
</html>
